{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-xl-8 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col">
                </div>
                <div class="col-auto">
                </div>
              </div>
             <iframe width="600" height="450" src="https://lookerstudio.google.com/embed/reporting/7d408b58-5841-4b10-8f2f-b52e9cbe36a1/page/U8qzD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
          </div>
        </div>

               <div class="col-xl-8 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col">
                </div>
                <div class="col-auto">
                </div>
              </div>
              <iframe width="600" height="450" src="https://lookerstudio.google.com/embed/reporting/ca31daf9-9b4a-4f41-b408-26e12ccbf592/page/23qzD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
          </div>
        </div>

        <div class="col-xl-8 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col">
                </div>
                <div class="col-auto">
                </div>
              </div>
              <iframe width="600" height="450" src="https://lookerstudio.google.com/embed/reporting/be6763e7-6ed7-4055-a055-49a4499a2d6f/page/D7qzD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
          </div>
        </div>

<!--        Possibly rearrange here -->

        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}

{% block extra_js %}
  <!-- Apex Chart -->
  <script src="{{ url_for('static', filename='assets/js/plugins/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/pages/dashboard-default.js') }}"></script>
  <!-- [Page Specific JS] end -->
{% endblock extra_js %}
