{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
<!--SINGLE USER -->
           <div class="card">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col">
                </div>
                <div class="col-auto">
                </div>
              </div>
              <iframe width="900" height="700" src="https://lookerstudio.google.com/embed/reporting/7be252ff-5edd-4ce0-a27f-ba2728405487/page/PV7zD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
          </div>
<!--        <div class="col-xl-8 col-md-12">-->
<!--HOT SONGS (TOP 10)-->
          <div class="card">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col">
                </div>
                <div class="col-auto">
                </div>
              </div>
             <iframe width="900" height="700" src="https://lookerstudio.google.com/embed/reporting/5d980280-4a6d-480e-8e16-fb53c2ec871e/page/U8qzD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
          </div>
<!--        </div>-->

<!--               <div class="col-xl-8 col-md-12">-->

<!-- MODEL CUMULATIVE SCORES -->
          <div class="card">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col">
                </div>
                <div class="col-auto">
                </div>
              </div>
              <iframe width="900" height="700" src="https://lookerstudio.google.com/embed/reporting/a7a53807-c91c-4e64-9b53-e602d4b679ba/page/23qzD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
          </div>
<!--        </div>-->




<!-- RECOMMENDER -->

          <div class="card">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col">
                </div>
                <div class="col-auto">
                </div>
              </div>
              <iframe width="900" height="700" src="https://lookerstudio.google.com/embed/reporting/0c743476-1a63-450a-9a38-db7ff5d250fa/page/tEnnC" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
          </div>



<!-- HEAT MAP -->

<!--        <div class="col-xl-8 col-md-12">-->
          <div class="card">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col">
                </div>
                <div class="col-auto">
                </div>
              </div>
              <iframe width="900" height="700" src="https://lookerstudio.google.com/embed/reporting/749c0659-64f8-41c0-8f3e-b5fd9181cdb5/page/D7qzD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
          </div>
<!--        </div>-->

<!--        Possibly rearrange here -->

        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}

{% block extra_js %}
  <!-- Apex Chart -->
  <script src="{{ url_for('static', filename='assets/js/plugins/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/pages/dashboard-default.js') }}"></script>
  <!-- [Page Specific JS] end -->
{% endblock extra_js %}
